.top-padding {
	padding-top: 25px;
}
img {
    display: block;
    margin: auto;
    width: 100%;
}
.hh-images {
	max-width: 375px;
}
#short-line {
	width: 30%;
	text-align: left;
	margin-left: 0;
}
.thick-line {
	border-width: 3px;
}
h2 {
	padding-top: 7%;
}
h4 {
	padding-top: 15px;
}
.more-padding td {
	padding: 7px;
}
.indent {
	text-indent: 40px;
}
.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f1f1f1;
}
.footer p {
	margin-bottom: 0;
	color: #777;
}
.footer-links {
	margin: 10px 0;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}
.footer-links li:first-child {
	padding-left: 0;
}
.footer-links a {
	color: black;
}
body {
	position: relative;
}